<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Untitled Document</title>
<style type="text/css">
body {
	background-image: url({{static_img_path}}/bg.jpg);
	background-repeat: repeat-x;
	background-color: #000;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
table.nameheader {
	background: url("{{static_img_path}}/header_background.jpg") no-repeat;
	text-align: left;
}
table.signatureheader { background: url("{{static_img_path}}/signature_background.jpg") no-repeat; }
.nameheaderfont {
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #999;
}
a:link {
	color: #999;
}
a:visited {
	color: #999;
}
a:hover {
	color: #999;
}
</style>
</head>

<body>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="display:block;">
  <tr>
    <td width="551"><div align="right"><img src="{{static_img_path}}/top_left.jpg" width="516" height="43" style="display:block;"></div></td>
    <td width="551"><a href="http://twitter.com/fanmento"><img src="{{static_img_path}}/twitter_icon.jpg" width="35" height="43" style="display:block;"></a></td>
    <td width="49"><a href="http://www.facebook.com/fanmento"><img src="{{static_img_path}}/facebook_icon.jpg" alt="facebook" width="49" height="43" style="display:block;" align="right"></a></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="551"><img src="{{static_img_path}}/logo.jpg" width="600" height="69" style="display:block;"></td>
  </tr>
</table>
<table width="600" table height="35" border="0" align="center" cellpadding="0" cellspacing="0" table style="background-image:url({{static_img_path}}/header_background.jpg)"  style="display:block;">
  <tr>
    <th width="58" scope="col"><p>&nbsp;</p></th>
    <th width="542" scope="col" ><p style="font-size:12px; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; color: #999; text-align:left; display:block">Hey {{ name }}!</span></th>
  </tr>
</table>
<table width="600" table height="65" border="0" align="center" cellpadding="0" cellspacing="0" style="display:block;">
  <tr>
    <th scope="col"><img src="{{static_img_path}}/text/text1a.jpg" alt="Thanks for joining Fanmento!™, the best way to capture a momentous experience and create an original keepsake. We're excited to have you as a fan!" width="600" height="65" style="display:block;"></th>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="551"><img src="{{static_img_path}}/how-does-it-work.jpg" width="600" height="31" style="display:block;"></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="115"><img src="{{static_img_path}}/camera_icon.jpg" width="115" height="63" style="display:block;"></td>
    <td width="485"><img src="{{static_img_path}}/text/text1.jpg" width="486" height="63" style="display:block;"></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="115"><img src="{{static_img_path}}/receipt_icon.jpg" width="115" height="75" style="display:block;"></td>
    <td width="485"><img src="{{static_img_path}}/text/text2.jpg" width="486" height="75" style="display:block;"></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="115"><img src="{{static_img_path}}/share-plane_icon.jpg" width="115" height="61" style="display:block;"></td>
    <td width="485"><img src="{{static_img_path}}/text/text3.jpg" width="485" height="61" style="display:block;"></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="551"><img src="{{static_img_path}}/what-else-can-i-do.jpg" width="600" height="33" style="display:block;"></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="115"><img src="{{static_img_path}}/compass_icon.jpg" width="115" height="55" style="display:block;"></td>
    <td width="485"><img src="{{static_img_path}}/text/text4.jpg" width="486" height="55" style="display:block;"></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="115"><img src="{{static_img_path}}/collection_icon.jpg" width="115" height="60" style="display:block;"></td>
    <td width="485"><img src="{{static_img_path}}/text/text5.jpg" width="486" height="60" style="display:block;"></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="115"><img src="{{static_img_path}}/contest_icon.jpg" width="115" height="61" style="display:block;"></td>
    <td width="485"><img src="{{static_img_path}}/text/text6.jpg" width="486" height="61" style="display:block;"></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="115"><img src="{{static_img_path}}/people_icon.jpg" width="115" height="50" style="display:block;"></td>
    <td width="485"><img src="{{static_img_path}}/text/text7.jpg" width="486" height="50" style="display:block;"></td>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="551"><a href="mailto:info@fanmento.com"><img src="{{static_img_path}}/text/text8.jpg" width="600" height="73" style="display:block;"></a></td>
  </tr>
</table>
<table width="600" table="" height="129" border="0" align="center" cellpadding="0" cellspacing="0" class="signatureheader">
  <tr>
    <th scope="col"><img src="{{static_img_path}}/signature_background.jpg" width="600" height="129" style="display:block;"></th>
  </tr>
</table>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="551"><img src="{{static_img_path}}/bottom_image.jpg" width="600" height="287" style="display:block;"></td>
  </tr>
</table>

<center>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
</center>
                        </body>
</html>

