{% extends "site_base.html" %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="span4 offset4 well">
			<legend>Request a New Password</legend>
            {% if done %}
          	<div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>{{ error }}
            </div>
            {% endif %}
            {% if email %}
          	<div class="alert">
                <a class="close" data-dismiss="alert" href="#">×</a>Thank you. We have sent an email to {{ email }} with instructions on how to reset your password.
            </div>
            {% endif %}
            <form method="POST" action="{% url fanmento.admin.views.request_password_reset %}" accept-charset="UTF-8">
                {% csrf_token %}
                <input type="text" id="email" class="span4" name="email" placeholder="Email">
                {{form.email.errors}}
                <button type="submit" name="submit" class="btn btn-info btn-block">Request Reset</button>
			</form>    
		</div>
	</div>
</div>

{% endblock %}
