{% extends "site_base.html" %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="span4 offset4 well">
			<legend>Reset Password</legend>
            {% if error %}
          	<div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>{{ error }}
            </div>
            {% endif %}
            <form method="POST" action="{% url fanmento.admin.views.reset_password %}" accept-charset="UTF-8">
                {% csrf_token %}
                <input type="hidden" id="token" name="token" value="{{ token }}" />
                <input type="password" id="password" class="span4" name="password" placeholder="Password">
                <input type="password" id="confirm" class="span4" name="confirm" placeholder="Confirm">
                <button type="submit" name="submit" class="btn btn-info btn-block">Reset</button>
			</form>    
		</div>
	</div>
</div>

{% endblock %}
